<!DOCTYPE html>
<head></head>
    <body>
        <!-- 50/50 split of page; can choose to have images, or not -->
        <!-- data-img-pos="right" = Right side image -->
        <!-- No data-img-pos = Default, Left side image -->
        <div class="section"
                data-type="split50"
                data-img="/img/cover-photo-old-2.png"
                data-caption="left-side-image"
                data-lightbox="true">
            <h2>50/50 Split, Image left</h2>
            <p>With text inside</p>
        </div>
    </body>
</html>