<!DOCTYPE html>
<head></head>
    <body>
        <!-- This wraps around everything -->
        <div class="grid-wrapper grid-wrapper--row">
            <!-- Start or hover car format, repeat as many time as needed for quantity of cards -->
            <div class="content box box-img">
                <div class="content-overlay"></div>
                <!-- js-lightbox + alt -->
                <img class="content-image js-lightbox"
                    src="/img/cover-photo-old-2.png"
                    alt="img1">
                <!-- Animation + text for overlay -->
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">IMG1</h3>
                    <p class="content-text">Click to view</p>
                </div>
            </div>
            <!-- Next card would start here -->
        </div>
    </body>
</html>