<!DOCTYPE html>
<head></head>
    <body>
        <!-- Small image, large text -->
        <!-- data-img-pos="right" = Right side image -->
        <!-- No data-img-pos = Default, Left side image -->
        <div class="section"
                data-type="imgText"
                data-img-pos="right"
                data-img="/img/cover-photo-old-2.png"
                data-caption="right-side-image"
                data-lightbox="true">
            <h2>big text block / small img</h2>
            <p>With text inside</p>
        </div>
    </body>
</html>