<!-- Footer partial -->
<div class="footer">
	<p>Please follow me using any of the following:</p>
	<ol>
		<li>
			<a href="https://www.x.com">
				<img src="/assets/img/twitter.png" alt="Twitter" />
			</a>
			<a href="https://www.facebook.com">
				<img src="/assets/img/facebook.png" alt="Facebook" />
			</a>
			<a href="https://www.instagram.com">
				<img src="/assets/img/instagram.png" alt="Instagram" />
			</a>
			<a href="https://www.youtube.com">
				<img src="/assets/img/youtube.png" alt="Youtube" />
			</a>
			<a href="https://www.linkedin.com">
				<img src="/assets/img/linkedin.png" alt="LinkedIn" />
			</a>
		</li>
	</ol>
	<p>© 2024 Voodoo Science. All rights reserved.</p>
</div>
