<!-- Footer partial -->
<div class="footer">
	<p>Please follow me using any of the following:</p>
	<ol>
		<li>
			<a href="https://github.com/VoodooScience1" target="_blank">
				<img src="/assets/img/GitHub_Invertocat_Black.png" alt="GitHub" />
			</a>
			<a href="https://www.linkedin.com/in/philipdavidcook/" target="_blank">
				<img src="/assets/img/linkedin.png" alt="LinkedIn" />
			</a>
			<a
				href="https://www.youtube.com/channel/UCwH1pZEEK8SPraimjMkN9gw"
				target="_blank"
			>
				<img src="/assets/img/youtube.png" alt="YouTube" />
			</a>
		</li>
	</ol>
	<p>© 2024 Voodoo Science. Phil Cook. All rights reserved.</p>
</div>
