<!-- head-common.html (drop in /partials/head-common.html) -->
<link
	rel="preload"
	as="image"
	href="/assets/img/tacsa-banner-updated.jpg"
	fetchpriority="high"
/>
<style>
	html:not(.sections-ready) .section[data-type],
	html:not(.sections-ready) .img-stub,
	html:not(.sections-ready) .video-stub {
		visibility: hidden;
	}
</style>
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"
/>
<link
	rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<link rel="stylesheet" href="/assets/css/highlight-overrides.css" />
